@model PYPProfileDotNet.Models.Friend

@{
    ViewBag.Title = "Delete";
    ViewBag.useUser1 = (Model.User2.UserName == (string)ViewBag.name);
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this friend?</h3>
<fieldset>
    <legend>Friend</legend>

    <div class="display-label">
        @{if (ViewBag.useUser1)
        {
            @Html.Label(Model.User1.UserName);
        }
        else
        {
            @Html.Label(Model.User2.UserName);
        }
        }
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
