@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1>Welcome to PYP</h1>
            <p>
                Checkout our games section to start playing games with your friends!
            </p>
        </div>
    </section>
}
